.corner-all {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    /* definindo o raio das bordas para todos os motores de navegadores */
}
 
#sidebar-menu{
    z-index: 10;
    margin-left: 10px;
    padding-left: 62vh;  
}

.menu-item {
    display: block; 
    width: 10em;
    padding: 0.2em;
    background-color: white; 
    border: 0.1em solid #2e2e30;
    text-align: center; 
    float: left;
    border: ridge 7px;
    border-color: #f2f2f2;
    height: 5vh;
    padding-top: 3vh;
}
.menu-item:hover .submenu { /*Como a lista irá se comportar quando passado o mouse acima*/
    display: block;
    padding: 0.2em;
}
.menu-item span {
    font-size: 1.1em;
    color: dimgray;
    font-family: Arial;
    font-weight: bold;
}
.menu-item2 {
    display: block; /* não permite que outros elementos da página sobreponham o nosso menu */
    width: 10em;
    padding: 0.2em;
    background-color: white;
    border: 0.1em solid #2e2e30;
    text-align: center;
    float: left;
    border: ridge 7px;
    border-color: #f2f2f2;
    height: 3vh;
    padding-top: 1.2vh;  
}
.menu-item2:hover .submenu {
    display: block;
    padding: 0.2em;
}
.menu-item2 span {
    font-size: 1.1em;
    color: dimgray;
    font-family: Arial;
    font-weight: bold;
}

.submenu {
    position: relative; /* define que a posição do submenu vai ser relativa a sua tag pai */
    display: none;
    background-color: #4c4c4c;
    list-style: none;
}
.submenu a {
    text-decoration: none;
    color: #e8e8e8;
}
.submenu a:hover {
    color: #222222;
}

body{
    margin: 0 auto;
}
#divlogo{
    width: 100%;
    height: 19vh;
    margin-top: -1vh;
}
#imglogo{
    height: 16vh;
    width: 35vh;
    float: left;
    margin-left: 10vh;
    margin-right: 9vh;
    padding-top: 2vh;
}
#napnepaint{
    margin-left: 9vh;
    height: 18vh;
    width: 36vh;
    margin-top: 2vh;
    float: left;
    margin-right: 8vh;
}
#napnelogo{
    float: right;
    height: 15vh;
    width: 30vh;
    margin-right: 10vh;
    padding-top: 2vh;
}
#embaixodologo{
    height: 6vh;
    background-color: white;
    padding-left: 23vh;
}
#ifsul{
    padding-top: 10vh;
    float: left;
}
#linkifsul:link{
    text-decoration: none; 
    color: dimgray;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.1em;
}
#linkifsul:active{
    text-decoration: none; 
    color: dimgray;
}
#linkifsul:visited{
    text-decoration: none; 
    color: dimgray;
}
#linkifsul:hover{
    color: dimgray;
    text-decoration: none;
}

#napne{
    float: left;
    padding-top: 10vh;
}


/* ------------------------------------------ */

#teste{
    margin-left: 40vh;
    width: 60%;
    text-align: center;
    border: ridge 7px;
    margin-top: 5vh;
    font-family: Arial;
}

#titulo{
    font-size: 25pt;
    color: dimgray;
    font-weight: bold;
    margin-bottom: 2vh;
}

#testando{
    color: dimgray;
    width: 4vh;
    height: 3vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    font-size: 12pt;
    border: none;
    border-bottom: solid 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

input{
    background-color: white;
    border: solid 3px;
    font-size: 12pt;
    font-weight: bold;
    border-color: dimgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
}

footer.fixar-rodape{
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

footer{
    width: 100%;
    height: 4vh;
    float: left;
    text-align: center;
    color: dimgray;
    font-size: 13pt;
    font-family: Arial;
    font-weight: bold;
    background-color: white;
    margin-top: 24vh;
    padding-bottom: 2vh;
}
